<ul class="breadcrumb">
    <li>
        @Html.ActionLink("Управление пользователями", "ChatUsers", "Admin", routeValues: null, htmlAttributes: null)
    </li>
    <li>
        @Html.ActionLink("Еще что-то", "ChatUsers", "Admin", routeValues: null, htmlAttributes: null)
    </li>
</ul>
