body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:antiquewhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.red {
    color: red;
}

input[type=checkbox] {
    transform: scale(2);
    position: relative;
    left: 25px;
}

.text-shift {
    margin-left: 10px;
}
/*********************/
.content {
    margin: 50px 0 30px 0;
    display: flex;
}

.left-box {
    width: 200px;
    padding-right:5px;
}
.gamesList-box {
    height: 430px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color:aliceblue;
}
#gamesList {
    overflow: auto;
}
.left-box div p {
    text-align: center;
    font-family: cursive,'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 24px;
    color: #ad670d;
    margin-top: 3px;
}
.line {
    background-color: #DBB88A;
    height:1px;
}

.connecting-list-item {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin-left:5px;
    font-weight: 600;
    font-size: larger;
    color: #864f07;
}
.connect {
    font-family: Calibri,'Times New Roman', Times, serif;
    font-weight: 700;
    color: #5b605b;
}
.connect:hover{
    text-shadow:0 0 6px black ;
}

.common-chat-box {
    height: 300px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: aliceblue;
    margin-top:5px;
}
.common-chat-room {
    height: 244px;
    overflow: auto;
}
.chat {
    margin-top: 5px;
    padding: 5px;
    word-wrap: break-word;
    font-family: Calibri;
}
.right-box {
    background-color: burlywood;
    width:800px;
    display: flex;
    padding:0 5px 0 5px;
    border-radius:5px;
    border:1px solid gray;
}

.game-box {
    flex: 1;
}
#giveUp {
    position: relative;
    left: 300px;
    bottom: 117px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    font-weight: 600;
    display: none;
}
#giveUp:hover {
    background-color: #ef6262;
}
.players-chat-box {
    width: 100%;
    height: 550px;
    margin: 5px 0 0 5px;
    border: 1px solid gray;
    background-color: aliceblue;
    border-radius: 5px;
}
#playersChatRoom {
    height: 465px;
    min-width:150px;
    overflow: auto;
}
.send-messages {
    display: flex;
}

.input-msg, .input-msg {
    width: 100%;
}
.input-msg-com textarea {
    resize: none;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 5px;
}
.input-msg textarea {
    resize: none;
    width: 100%;
    height: 79px;
    border-bottom-left-radius:5px;
}
.btn-send-com {
    border: 1px solid rgba(51, 51, 51, 0.5);
    width: 40px;
    height: 50px;
    font-family: Calibri;
    background-color: #FFFFFF;
    border-bottom-right-radius: 5px;
}
.btn-send {
    border: 1px solid rgba(51, 51, 51, 0.5);
    width: 50px;
    height: 79px;
    background-color: #FFFFFF;
    border-bottom-right-radius:5px;
}
    .btn-send:hover, .btn-send-com:hover {
        -webkit-transition: all 0.7s ease;
        ;
        -moz-transition: all 0.7s ease;
        ;
        -o-transition: all 0.7s ease;
        ;
        transition: all 0.7s ease;
        box-shadow: inset 0 0 0 30px #DBB88A;
    }
*:focus {
    outline:none;
}
.active {
    background-color: #ef6262;
}/*********************/
.create-game-box {
    height: 210px;
    background-color: aliceblue;
    border:1px solid gray;
    margin-top:5px;
    padding:10px;
    display:none;
    font-family:Calibri;
}
/****** таймер *******/
.timer {
    position: relative;
    left: 360px;
    bottom: 120px;
    color: forestgreen;
    font-weight: 700;
    font-size: 24px;
}
.red{
    color:red;
    font-size:18px;
}